/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* DEFINES WHAT REM IS */
    font-size: 62.5%; /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */
}

body {
    box-sizing: border-box;
}