/* ------------------------------------------- */
/* BODY TYPOGRAPHY SETUP
/* ------------------------------------------- */
body {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-gray-dark;
    /*padding: 3rem;  /* Gives padding all around the body element, making white space on the sides. */
}


/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        /* -- ANIMATION IMPLEMENTATION -- */
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        /* -- ANIMATION IMPLEMENTATION -- */
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */

.heading-secondary {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;

    // SETUP THE TEXT (h2) TO DISPLAY WITH MULTIPLE COLORS IN THE BACKGROUND \\
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    &--about {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 5rem;
    }

}


/* -- PARAGRAPH -- */
.paragraph {
    font-size: 1.6rem;

    &--about {
        font-size: 1.7rem;
        text-align: center;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}