/* ------------------------------------------- */
/* SECTION ABOUT | IN HOME PAGE
/* ------------------------------------------- */

.section-about {
    background-color: $color-grey-light-1;
    padding: 28rem 0;
    margin-top: -20vh;
}

/* ------------------------------------------- */
/* SECTION SERVICES | IN HOME PAGE
/* ------------------------------------------- */

.section-services {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.800), rgba($color-primary-dark, 0.800)), url(../images/header-2.jpg);
    background-size: cover;
    margin-top: 15rem;

    // SKEWING THE IMAGE TO A SPECIFIC DEGREE \\
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

/* ------------------------------------------- */
/* SECTION SHOWCASE | IN HOME PAGE
/* ------------------------------------------- */

.section-showcase {
    background-color: $color-grey-light-1;
    padding-top: 15rem;
    padding-bottom: 110rem;
}