/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */

/* -- PRIMARY COLORS -- */
$color-primary: #8e44ad;
$color-primary-light: #9b59b6;
$color-primary-dark: #66317c;

/* -- DARK/WHITE COLORS -- */
$color-gray-dark: #777; // Color for text
$color-white: #fff; // Color White
$color-black: #000; // Color Black






/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */

$grid-width: 114rem;    // MAX WIDTH
$gutter-vertical: 8rem; // VERTICAL SPACING BETWEEN COLUMNS
$gutter-horizontal: 6rem; // HORIZONTAL SPACING BETWEEN COLUMNS

/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */

$default-font-size: 1.6rem;