/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* - ABSTRACTS FOLDER FILES - */
/* ------------------------------------------- */
/* CLAERFIX MIXIN FOR THE GRID
/* ------------------------------------------- */
/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/* -- PRIMARY COLORS -- */
/* -- DARK/WHITE COLORS -- */
/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */
/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */
/* - BASE FOLDER FILES - */
/* ------------------------------------------- */
/* ANIMATIONS FOR THE HEADER
/* ------------------------------------------- */
/* --- ANIMATION FOR HEADER TEXT SETUP | STARTS --- */
@keyframes moveInLeft {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER SUB TEXT SETUP | STARTS --- */
@keyframes moveInRight {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(-1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER SUB TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER BUTTON SETUP | STARTS --- */
@keyframes moveInBottom {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER BUTTON SETUP | ENDS --- */
/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */ }

body {
  box-sizing: border-box; }

/* ------------------------------------------- */
/* BODY TYPOGRAPHY SETUP
/* ------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  /*padding: 3rem;  /* Gives padding all around the body element, making white space on the sides. */ }

/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */
.heading-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #9b59b6, #66317c);
  -webkit-background-clip: text;
  color: transparent; }

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary--about {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5rem; }

/* -- PARAGRAPH -- */
.paragraph {
  font-size: 1.6rem; }
  .paragraph--about {
    font-size: 1.7rem;
    text-align: center; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* ---------------------------------------------------------- */
/* U-CENTER-TEXT CLASS IN ABOUT SECTION | CENTERING THE TEXT
/* ---------------------------------------------------------- */
.u-center-text {
  text-align: center !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-SMALL CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-MEDIUM CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-BIG CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-HUGE CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* - COMPONENTS FOLDER FILES - */
/* ------------------------------------------- */
/* BUTTON WHITE | HEADER
/* ------------------------------------------- */
/* BUTTON WHITE NESTING */
.btn {
  /* BUTTON ON HOVER NESTING */
  /* BUTTON WHITE NESTING */
  /* BUTTON WHITE FADE ANIMATION */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated-1 {
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; }

/* ------------------------------------------- */
/* CARD BOX | SECTION SERVICES
/* ------------------------------------------- */
.service-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .service-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #9b59b6, #66317c);
    -webkit-background-clip: text;
    color: transparent; }
  .service-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* ------------------------------------------- */
/* COMPOSITION | ABOUT SECTION - PICTURES
/* ------------------------------------------- */
.composition {
  position: relative;
  /*&:hover &__photo:not(:hover) {    // DELETE THIS IF LOWER IMAGES ON HOVER EFFECT IS NEEDED \\
        transform: scale(.95);
    }*/ }
  .composition__photo {
    width: 120%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: 5rem;
      left: -4rem; }
    .composition__photo--p2 {
      top: 5rem;
      left: 42rem; }
    .composition__photo--p3 {
      top: 5rem;
      left: 260%; }
    .composition__photo--p4 {
      left: -4rem; }
    .composition__photo--p5 {
      left: 42rem; }
    .composition__photo--p6 {
      left: 260%; }
    .composition__photo--p7 {
      top: 60rem;
      left: -4rem; }
    .composition__photo--p8 {
      top: 60rem;
      left: 42rem; }
    .composition__photo--p9 {
      top: 60rem;
      left: 260%; }
    .composition__photo--p10 {
      top: 120rem;
      left: -4rem; }
    .composition__photo--p11 {
      top: 120rem;
      left: 42rem; }
    .composition__photo--p12 {
      top: 120rem;
      left: 260%; }
    .composition__photo--p13 {
      top: 180rem;
      left: -4rem; }
    .composition__photo--p14 {
      top: 180rem;
      left: 42rem; }
    .composition__photo--p15 {
      top: 180rem;
      left: 260%; }
    .composition__photo:hover {
      outline: 1.5rem solid #8e44ad;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

/* ------------------------------------------- */
/* SERVICE BOX | SECTION SERVICES BOXES
/* ------------------------------------------- */
.service-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .service-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #9b59b6, #66317c);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
  .service-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* - LAYOUT FOLDER FILES - */
/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(155, 89, 182, 0.8), rgba(102, 49, 124, 0.8)), url(../images/r-header-2.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* ------------------------------------------- */
/* CUSTOM GRID FLOAT SYSTEM
/* ------------------------------------------- */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 3) + 2 * 6rem); }

/* ------------------------------------------- */
/* FOOTER
/* ------------------------------------------- */
.footer {
  background-color: #333;
  padding: 10rem;
  font-size: 1.5rem;
  color: #f7f7f7;
  position: relative; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link-1:link, .footer__link-1:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link-1:hover, .footer__link-1:active {
    color: #8e44ad;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__link-2:link, .footer__link-2:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .footer__link-2:hover, .footer__link-2:active {
    color: #8e44ad;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%; }
  .footer__contact-info {
    font-size: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: inline-block; }
  .footer__social-links {
    list-style: none;
    position: absolute;
    top: 38%;
    left: 75%;
    letter-spacing: 1rem; }
  .footer__social-list {
    display: inline-block; }
    .footer__social-list:not(:last-child) {
      margin-right: 2rem; }
  .footer__social-anchor:link, .footer__social-anchor:visited {
    text-decoration: none;
    border: 0;
    color: #777;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 400%; }
  .footer icon ion-logo-facebook,
  .footer icon ion-logo-instagram,
  .footer icon ion-logo-twitter {
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .footer .ion-logo-facebook:hover {
    color: #3b5999; }
  .footer .ion-logo-instagram:hover {
    color: #e4405f; }
  .footer .ion-logo-twitter:hover {
    color: #55acee; }

/* - PAGES FOLDER FILES - */
/* ------------------------------------------- */
/* SECTION ABOUT | IN HOME PAGE
/* ------------------------------------------- */
.section-about {
  background-color: #f7f7f7;
  padding: 28rem 0;
  margin-top: -20vh; }

/* ------------------------------------------- */
/* SECTION SERVICES | IN HOME PAGE
/* ------------------------------------------- */
.section-services {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(155, 89, 182, 0.8), rgba(102, 49, 124, 0.8)), url(../images/r-header-1.jpg);
  background-size: cover;
  margin-top: 15rem;
  transform: skewY(-7deg); }
  .section-services > * {
    transform: skewY(7deg); }

/* ------------------------------------------- */
/* SECTION SHOWCASE | IN HOME PAGE
/* ------------------------------------------- */
.section-showcase {
  background-color: #f7f7f7;
  padding-top: 15rem;
  padding-bottom: 250rem; }
